*{
    margin:0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
h2{
    font-size: 25px;
    color: hsl(238, 29%, 16%);
    width: 80%;
    padding-bottom: 5%;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(174,103,233);
    background: linear-gradient(180deg, rgba(174,103,233,1) 0%, rgba(100,100,230,1) 100%);
}
.attribution{
    position: absolute;
    bottom: 0%;
    a{
        color:white;
    }
}
.frame-container{
    align-items: center;
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 60vw;
    height: 32vw;
    min-width: 600px;
    min-height: 320px;
    -webkit-box-shadow: 0px 14px 8px 2px rgba(0,0,0,0.30); 
    box-shadow: 0px 14px 8px 2px rgba(0,0,0,0.30);
   .left-column{
       height: 100%;
       position: relative;
       width: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       background: url("./images/bg-pattern-desktop.svg");
       background-size: 120%;
       background-position: right;
       background-repeat: no-repeat;
       .left-image{
           width: 100%;
           z-index: 0;
           margin-left: -5%;
       }
       .cube{
           width: 50%;
           position: absolute;
           left: -20%;
       }
   }
   .right-column{
       width: 50%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       .faq-list{
           height: 70%;
       }
   }
}

.faq-list{
    width: 80%;
}

.faq-question{
    cursor: pointer;
    position: relative;
    color:hsl(238, 29%, 16%);
    padding: 5% 0;
    border-bottom: solid 1px hsl(240, 5%, 91%);
}
.faq-question:hover{
    color:hsl(14, 88%, 65%);
}

.faq-answer{
    color: hsl(240, 6%, 50%);
    display: block;
    //padding-top: 2.5%;
    line-height: 0;
    overflow: hidden;
    transition: 0.2s;
    font-weight: normal;
}
.faq-show{
    display: block;
    padding-top: 2.5%;
    line-height: 1;
}

.arrow-icon{
    right: 0;
    position: absolute;
    transition: 0.3s;
}

.upside{
    transform: rotate(180deg);
}

@media(max-width:600px){
    .frame-container{
        width: 90%;
        min-width: 90%;
        height: 80%;
        justify-content: center;
        align-items: center;
        padding-top:10%;
        margin-top: 20%;
        position: relative;
        margin-bottom: 5%;
        .left-column{
            background-size: 100%;
            position: absolute;
            width: 75%;
            top: -50%;
        }
        .right-column{
            width: 90%;
            padding-top:10%;
        }
    }
}
@media(max-width:450px){

    .frame-container{
        height: 70%;
         .right-column{
        padding-top: 15%;
         }
    }
}
